.app {
  text-align: center;
  padding: 5%;
}

body {
  background-color: #282c34;
}

.movies {
  color: #fff;
  text-align: left;
}

.sep {
  padding: 1%;
}

.poster {
  text-align: center;
  padding: 5px;
}
